<form class ='register' [formGroup]='userForm'> 
    <mat-icon matPrefix>person</mat-icon>
    <mat-form-field>
        <input matInput placeholder='Nom' type="text" formControlName="nom" required>
        <mat-error *ngIf='userForm.invalid'>Champ requis invalide</mat-error>
    </mat-form-field>
    <mat-icon matPrefix>person</mat-icon>
    <mat-form-field>
        <input matInput placeholder='Prénom' type="text" formControlName="prenom" required>
        <mat-error *ngIf='userForm.invalid'>Champ requis invalide</mat-error>
    </mat-form-field>
    <mat-icon>phone</mat-icon>
    <mat-form-field>
        <input matInput type="text" placeholder="01-23-45-67-89 ou 0123456789" formControlName="telPortable">
    </mat-form-field>
    <mat-datepicker-toggle [for]="pickerDate"></mat-datepicker-toggle>
    <mat-datepicker #pickerDate></mat-datepicker>
    <mat-form-field>      
        <input matInput [matDatepicker]="pickerDate"  placeholder ='Choisir une date de naissance' formControlName="dateNaissance">
    </mat-form-field> 
    <mat-icon>place</mat-icon>
    <mat-form-field>
        <input matInput type="text" placeholder ='Adresse' formControlName="adresse">
    </mat-form-field>
    <mat-icon>email</mat-icon>
    <mat-form-field>    
        <input matInput placeholder='E-mail' type="text" value="" formControlName="mail">
        <mat-hint *ngIf='isAccess'>Champ requis invalide</mat-hint> 
    </mat-form-field>  
    <mat-icon>vpn_key</mat-icon> 
    <mat-form-field >
        <input matInput placeholder='Mot de passe' type="text" value="" formControlName="password">
        <mat-error *ngIf='userForm.invalid'>Champ requis invalide</mat-error>
    </mat-form-field> 
    <div>
        <label>Choisir ou une photo de profil :</label>
        <div>
            <input #fichier class="input_hidden" type="file" placeholder="Image du profil" (change)="selectionFichier($event)" name="avatar" accept="image/*">    
            <mat-icon matTooltip="Choisir une image de profil" (click)="fichier.click()" class="curseur">add_a_photo</mat-icon>
            <label *ngIf="nomFichier"> {{nomFichier}} </label>  
        </div>
        <div>
            <label>Ou sélectionner un avatar par défaut :</label>
            <mat-form-field>
                <mat-select [(value)]="avatar">
                    <mat-option value="defautHomme">Homme</mat-option>
                    <mat-option value="defautFemme">Femme</mat-option>
                    <mat-option value="defautEnfant">Enfant</mat-option>
                    <mat-option value="defautMedecin">Médecin</mat-option>
                </mat-select>
            </mat-form-field>              
        </div>
    </div> 
    <p>
        <!-- Désactivé car l'enregistrement d'un nouvel utilisateur entraine sa connexion automatique -->
        <!-- <mat-checkbox (change)="changeAcces()" id="btnValidation" formControlName="accesSite">Créer un utilisateur pour le site  </mat-checkbox>  -->
        <button mat-raised-button color="primary" [disabled]="userForm.invalid" (click)="validation()" name="validation">Valider l'inscription 
            <mat-icon>done</mat-icon> 
        </button> 
    </p>
</form> 