<form class ='register' [formGroup]='userForm'> 
    <mat-icon matPrefix>person</mat-icon>
    <mat-form-field>
        <input matInput placeholder='Nom' type="text" formControlName="nom" required>
        <mat-error *ngIf='userForm.invalid'>Champ requis invalide</mat-error>
    </mat-form-field>
    <mat-icon matPrefix>person</mat-icon>
    <mat-form-field>
        <input matInput placeholder='Prénom' type="text" formControlName="prenom" required>
        <mat-error *ngIf='userForm.invalid'>Champ requis invalide</mat-error>
    </mat-form-field>
    <mat-icon>phone</mat-icon>
    <mat-form-field>
        <input matInput type="text" placeholder="01-23-45-67-89 ou 0123456789" formControlName="telPortable">
    </mat-form-field>
    <mat-datepicker-toggle [for]="pickerDate"></mat-datepicker-toggle>
    <mat-datepicker #pickerDate></mat-datepicker>
    <mat-form-field>      
        <input matInput [matDatepicker]="pickerDate"  placeholder ='Choisir une date de naissance' formControlName="dateNaissance">
    </mat-form-field> 
    <mat-icon>place</mat-icon>
    <mat-form-field>
        <input matInput type="text" placeholder ='Adresse' formControlName="adresse">
    </mat-form-field>
    <mat-icon>email</mat-icon>
    <mat-form-field>    
        <input matInput placeholder='E-mail' type="text" value="" formControlName="mail">
        <mat-error *ngIf='userForm.invalid'>Champ requis invalide</mat-error> 
    </mat-form-field>  
    <mat-icon>vpn_key</mat-icon> 
    <mat-form-field >
        <input matInput placeholder='Mot de passe' type="text" value="" formControlName="password">
        <mat-error *ngIf='userForm.invalid'>Champ requis invalide</mat-error>
    </mat-form-field> 
    <div>
        <input #fichier class="input_hidden" type="file" placeholder="Image du profil" (change)="selectionFichier($event)" name="avatar" accept="image/*">    
        <mat-icon matTooltip="Choisir une image de profil" (click)="fichier.click()" class="curseur">add_a_photo</mat-icon>
        <label *ngIf="nomFichier"> {{nomFichier}} </label>  
    </div>  
    <div>
        <mat-checkbox (click)="changeAcces()" formControlName="accesSite">Créer un utilisateur pour le site</mat-checkbox> 
    </div> 
    <p>
      <button mat-raised-button color="primary" [disabled]="userForm.invalid" (click)="validation()" name="validation">Valider l'inscription 
        <mat-icon>done</mat-icon>
      </button> 
    </p>
</form> 